@import '~antd/dist/antd.css';

#components-layout-demo-side .logo {
  height: 32px;
  margin: 16px;
  background: rgba(255, 255, 255, 0.3);
}

.site-layout .site-layout-background {
  background: #fff;
}

#components-form-demo-normal-login .login-form {
  max-width: 300px;
}
#components-form-demo-normal-login .login-form-forgot {
  float: right;
}
#components-form-demo-normal-login .ant-col-rtl .login-form-forgot {
  float: left;
}
#components-form-demo-normal-login .login-form-button {
  width: 100%;
}

#components-grid-demo-flex-align [class~='ant-row'] {
  background: rgba(128, 128, 128, 0.08);
}

[data-theme='compact'] .site-navigation-steps,
.site-navigation-steps {
  margin-bottom: 60px;
  box-shadow: 0px -1px 0 0 #e8e8e8 inset;
}

.chat {
  padding: 16px;
}

.chat .message-list {
  max-height: 400px;
}

.chat .input-chat-user {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 16px;
}

.chat .chat-list {
  max-height: 600px;
}

.chat .input-chat {
  position: fixed;
  z-index: 100;
  bottom: 0;
  width: 50%;
  margin: 16px;
}

.product-card a {
  color: #ffffff;
  text-decoration: none;
}
